body {
  font-family: sans-serif, Helvetica, Arial;
  color: #131313;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.8)),
    url("Revmo_logo.jpeg");
  background-size: cover;
}

body::selection {
  background-color: #d4af37;
  color: #000;
}

.black {
  color: #000;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.main-header {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.main-header a {
  color: #d4af37;
  text-shadow: 0 0 10px #d4af37;
  font-size: 62px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 100%;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  width: 350px;
  border: 1px solid rgba(212, 175, 55, 0.4);
  color: #000;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
  border: 2px solid;
  border-radius: 6px;
  transition: 0.2s ease;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #ffc400;
  box-shadow: 0 0 10px #f7bf0a;
  transform: scale(1.02);
}

input[type="submit"],
input[type="reset"] {
  width: 48%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background: linear-gradient(45deg, #d4af37, #f5e6a9);
  color: #000;
  transform: scale(1.07);
}

input[type="submit"],
input[type="reset"] {
  box-shadow: 0 0 12px #d4af37;
  color: #1a1919;
}
